<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{www_host}}
    ServerAlias www.{{www_host}}
    ServerAlias {{www_host_alias1}}
    ServerAlias {{www_host_alias2}}
    DocumentRoot /var/www/{{www_host}}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
