#!/usr/bin/expect

set timeout -1;
spawn python3 manage.py changepassword {{admin_username}};
expect {
    "Password:" { exp_send "{{admin_password}}\r" ; exp_continue }
    "Password (again):" { exp_send "{{admin_password}}\r" ; exp_continue }
    eof
}
